# Ambiente Virtual do Python
venv/

# Ficheiro de segredos (credenciais da base de dados)
.env

# Base de dados SQLite - NUNCA partilhe dados de utilizadores!
*.db
*.db-journal

# Cache do Python
__pycache__/
*.pyc

# Ficheiros gerados pelo PyInstaller
dist/
build/
*.spec

# Ficheiros de IDE/Editor
.vscode/
.idea/